---
---
<div
  class="hero min-h-screen absolute top-0 left-0"
  style="background-image:  url('/src/assets/sample5.png');"
>
  <!-- <div class="hero-overlay"></div> -->
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">
        FUSOU is a tool for retrieving and analyzing proxied data, offering insights into battles. It aids in understanding combat dynamics and optimizing strategies, making it invaluable for strategists and analysts.
      </p>
      <div class="flex flex-nowrap justify-center">
        <a class="btn btn-neutral btn-xl" href="/chartPage">Play Ground</a>
        <div class="w-10"></div>
        <button class="btn btn-neutral btn-xl btn-disabled">Download</button>
      </div>
    </div>
  </div>
</div>

<style>
  
</style>