[package]
name = "app"
version = "0.3.4"
description = "A Tauri App for proxy KanColle data"
authors = ["Hideyuki Oguri"]
license = "MIT/Apache-2.0"
repository = "https://github.com/tsukasa-u/FUSOU"
default-run = "app"
edition = "2021"
rust-version = "1.81"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
dirs = "5.0.1"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_qs = "0.14.0"
tauri = { version = "2.9.5", features = ["tray-icon", "devtools"] }
tauri-plugin-window-state = "2.4.0"
tauri-plugin-deep-link = "2.4.3"
tauri-plugin-process = "2.3.0"
tauri-plugin-shell = "2.3.1"
tauri-plugin-log = "2.7.0"
tauri-plugin-dialog = "2.4.0"
tauri-plugin-fs = "2.4.2"
tauri-plugin-opener = "2.5.0"
tauri-plugin-autostart = "2.5.1"
tauri-plugin-notification = "2.3.3"
tokio = { version = "1.38.0", features = ["full"] }
webbrowser = "1.0.1"
kc_api = { package = "kc-api", path = "./../../kc_api/crates/kc-api" }
proxy-https = { path = "./../../FUSOU-PROXY/proxy-https" }
fusou-auth = { path = "./../../fusou-auth" }
fusou-upload = { path = "./../../fusou-upload" }
configs = { path = "./../../configs" }
chrono = "0.4.31"
chrono-tz = "0.10.0"
time = "0.3.43"
discord-rich-presence = "0.2.4"
once_cell = "1.21.3"
uuid = { version = "1.16.0", features = ["v4"] }
google-drive3 = "=6.0.0"
rustls = { version = "0.23.26", features = ["ring"] }
warp = "0.3.7"
regex = "1.9.6"
futures = "0.3.31"
http-body-util = "0.1.2"
tokio-cron-scheduler = "0.14.0"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", features = ["fmt", "env-filter", "time", "local-time"] }
tracing-appender = "0.2.3"
tracing-unwrap = "1.0.1"
reqwest = { version = "0.12.5", default-features = false, features = ["json", "rustls-tls"] }
url = "2.5"
clap = { version = "4.5.20", features = ["derive"] }
sha2 = "0.10"
flate2 = "1.1.5"
hex = "0.4"
base64 = "0.22"

[features]
# this feature is used for production builds or when `devPath` points to the filesystem and the built-in dev server is disabled.
# If you use cargo directly instead of tauri's cli you can use this feature flag to switch between tauri's `dev` and `build` modes.
# DO NOT REMOVE!!
custom-protocol = [ "tauri/custom-protocol" ]

default = []
grpc-channel = ["proxy-https/grpc"]

[lib]
name = "app_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[target.'cfg(not(any(target_os = "android", target_os = "ios")))'.dependencies]
tauri-plugin-single-instance = "2.3.4"
tauri-plugin-updater = "2.9.0"

[target.'cfg(windows)'.dependencies]
winreg = "0.52"
windows-sys = { version = "0.59.0", features = ["Win32_Foundation", "Win32_System_Console"] }
