@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(87% 0.15 154.449);
  --color-primary-content: oklch(29% 0.066 243.157);
  --color-secondary: oklch(89% 0.196 126.665);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(86% 0.127 207.078);
  --color-accent-content: oklch(30% 0.056 229.695);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21.6% 0.006 56.043);
  --color-base-200: oklch(21.6% 0.006 56.043);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(87% 0.15 154.449);
  --color-primary-content: oklch(29% 0.066 243.157);
  --color-secondary: oklch(89% 0.196 126.665);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(86% 0.127 207.078);
  --color-accent-content: oklch(30% 0.056 229.695);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


.markdown h1 {
  @apply text-3xl font-bold;
  margin-bottom: 1rem;
  cursor: default;
}

.markdown h2 {
  @apply text-xl font-bold;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: default;
}

.markdown h3 {
  @apply text-lg font-bold;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: default;
}

.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  cursor: default;
}

.markdown th,
.markdown td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid
    color-mix(in oklch, var(--color-base-content) 10%, transparent);
}

.markdown th {
  border-bottom: 2px solid
    color-mix(in oklch, var(--color-base-content) 10%, transparent);
  font-weight: bold;
}

.markdown ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  cursor: default;
}

.markdown ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  cursor: default;
}

.markdown ol > li,
.markdown ul > li {
  margin-bottom: 0.25rem;
  cursor: default;
}

.markdown pre {
  padding: 1rem 1rem;
  overflow-x: auto;
  margin-bottom: 1rem;
  cursor: default;
  @apply rounded-md;
}

.markdown p {
  margin-bottom: 1rem;
  cursor: default;
}

.markdown p + ul,
.markdown p + ol {
  margin-top: -0.25rem;
}

.markdown li > p:first-of-type {
  margin-bottom: 0.25rem;
}

.markdown a {
  @apply text-blue-600 hover:underline;
}

.markdown code {
  @apply bg-base-300 px-1 rounded;
  font-family: "Fira Code", monospace;
  font-size: 0.875rem;
}

.markdown pre > code {
  @apply bg-transparent;
}

.markdown p > code,
.markdown li > code {
  margin-left: 0 !important;
}

.markdown [data-callout] {
  & {
    @apply my-6 space-y-2 border p-4;
    border-color: color-mix(
      in oklch,
      var(--color-base-content) 10%,
      transparent
    );
  }

  & > [data-callout-title] {
    & {
      @apply flex flex-row items-start gap-2 p-0 font-bold text-lg;
    }

    &:not:only-child {
      @apply mb-2;
    }

    &::before {
      font-family: "Material Symbols Outlined";
      font-weight: normal;
      font-style: normal;
      font-size: 1.725rem;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-smoothing: antialiased;

      vertical-align: top;
    }
  }

  & > [data-callout-body] {
    & {
      @apply space-y-2 px-1;
    }

    & > * {
      @apply m-0;
    }
  }
}

.markdown details[data-callout] > summary[data-callout-title] {
  & {
    @apply cursor-pointer;
  }

  &::after {
    @apply w-full bg-right bg-no-repeat;
    content: "";
  }

  &:not(:empty)::after {
    @apply my-auto ml-auto h-6 w-6;
  }
}

.markdown [data-callout][data-callout-type="note"] {
  & {
    border-left: 4px solid var(--color-info);
  }

  & > [data-callout-title] {
    & {
      color: var(--color-info-content);
    }

    &::before {
      content: "\e88e";
      color: var(--color-info);
    }

    &:empty::after {
      content: "Note";
    }
  }
}

.markdown [data-callout][data-callout-type="important"] {
  & {
    border-left: 4px solid var(--color-accent);
  }

  & > [data-callout-title] {
    & {
      color: var(--color-accent);
    }

    &::before {
      content: "\e87f";
      color: var(--color-accent);
    }
    &:empty::after {
      content: "Important";
    }
  }
}

.markdown [data-callout][data-callout-type="warning"] {
  & {
    border-left: 4px solid var(--color-warning);
  }

  & > [data-callout-title] {
    & {
      color: var(--color-warning);
    }

    &::before {
      content: "\e002";
      color: var(--color-warning);
    }

    &:empty::after {
      content: "Warning";
    }
  }
}

.markdown [data-callout][data-callout-type="caution"] {
  & {
    border-left: 4px solid var(--color-error);
  }

  & > [data-callout-title] {
    & {
      color: var(--color-error);
    }

    &::before {
      content: "\e160";
      color: var(--color-error);
    }

    &:empty::after {
      content: "Caution";
    }
  }
}

.markdown [data-callout][data-callout-type="tip"] {
  & {
    border-left: 4px solid var(--color-success);
  }

  & > [data-callout-title] {
    & {
      color: var(--color-success);
    }

    &::before {
      content: "\e0f0";
      color: var(--color-success);
    }

    &:empty::after {
      content: "Tip";
    }
  }
}

.markdown aside:is([note], [dangerous], [caution], [tip], [important]) {
  @apply bg-base-100 p-4;
  margin-bottom: 1rem;
  cursor: default;
  border-right: 1px solid
    color-mix(in oklch, var(--color-base-content) 10%, transparent);
  border-top: 1px solid
    color-mix(in oklch, var(--color-base-content) 10%, transparent);
  border-bottom: 1px solid
    color-mix(in oklch, var(--color-base-content) 10%, transparent);
}

.markdown
  aside:is([note], [dangerous], [caution], [tip], [important])::first-line {
  font-weight: bold;
  text-transform: uppercase;
}

.markdown
  aside:is([note], [dangerous], [caution], [tip], [important])
  p:first-of-type {
  margin-top: 0.25rem;
}

.markdown aside:is([note], [dangerous], [caution], [tip], [important])::before {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;

  vertical-align: top;
  margin-right: 0.25rem;
}

.markdown aside:is([note], [dangerous], [caution], [tip], [important]) * {
  margin-left: calc(24px + 0.5rem);
}

.markdown
  aside:is([note], [dangerous], [caution], [tip], [important])
  *:last-child {
  margin-bottom: 0px;
}

.markdown aside[note] {
  border-left: 4px solid var(--color-info);
}

.markdown aside[note]::before {
  content: "\e88e";
  color: var(--color-info);
}

.markdown aside[warning] {
  border-left: 4px solid var(--color-warning);
}

.markdown aside[warning]::before {
  content: "\e002";
  color: var(--color-warning);
}

.markdown aside[caution] {
  border-left: 4px solid var(--color-error);
}

.markdown aside[caution]::before {
  content: "\e160";
  color: var(--color-error);
}

.markdown aside[tip] {
  border-left: 4px solid var(--color-success);
}

.markdown aside[tip]::before {
  content: "\e0f0";
  color: var(--color-success);
}

.markdown aside[important] {
  border-left: 4px solid var(--color-accent);
}

.markdown aside[important]::before {
  content: "\e87f";
  color: var(--color-accent);
}
