---
import PageLayout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import MyChart from "../components/solid/chartSample.tsx";
import SidePage from "../components/solid/sidePage";
import LoadDataComponent from "../components/solid/loadData"
---

<PageLayout>
  <div class="static">
    <!-- <div class="h-16"></div> -->
    <div class="drawer lg:drawer-open md:drawer-open absolute top-0 left-0">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col items-center justify-center">
        <!-- Page content here -->
        <div class="drawer drawer-end lg:drawer-open">
          <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
          <div class="drawer-content flex items-center justify-center">
            <div class="overflow-auto">
              <div class="h-16"></div>

              <LoadDataComponent client:only="solid-js" />

            <!-- <div class="tabs tabs-border w-full">
                <input type="radio" name="my_tabs_2" class="tab" aria-label="Tab 1" checked={true}/>
                <div class="tab-content border-base-300 bg-base-100 p-10 w-full">Tab content 1</div>

                <input type="radio" name="my_tabs_2" class="tab" aria-label="Tab 2" />
                <div class="tab-content border-base-300 bg-base-100 p-10 w-full">Tab content 2</div>

                <input type="radio" name="my_tabs_2" class="tab" aria-label="Tab 3" />
                <div class="tab-content border-base-300 bg-base-100 p-10 w-full">Tab content 3</div>
            </div> -->

              <MyChart client:only="solid-js" />
            </div>
            <!-- Page content here -->
            <!-- <label for="my-drawer-4" class="drawer-button btn btn-primary"
              >Open drawer</label
            > -->
            <!-- <label
              for="my-drawer-2"
              class="btn btn-primary drawer-button lg:hidden"
            >
              Open drawer
            </label> -->
          </div>
          <div class="drawer-side">
            <label
              for="my-drawer-4"
              aria-label="close sidebar"
              class="drawer-overlay"
              style="background-color:transparent"></label>
            <div class="bg-base-100 py-4 px-4 w-64 h-full">
              <ul
                class="menu text-base-content px-4 w-full border-gray-400 h-full"
              >
                <!-- Sidebar content here -->
                <li class="h-16"><a></a></li>
                <li><a>Load Data</a></li>
                <li><a>Slect Items</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="drawer-side">
        <label
          for="my-drawer-2"
          aria-label="close sidebar"
          class="drawer-overlay"
          style="background-color:transparent"></label>
        <div class="bg-base-100 w-64 h-full border-dashed border-r border-gray-400">
          <ul
            class="menu text-base-content px-4 w-full h-full"
          >
            <!-- Sidebar content here -->
            <li class="h-16"><a></a></li>
            <SidePage client:only="solid-js" />
            </ul>
        </div>
      </div>
    </div>
    <!-- <MyChart /> -->
    <Navigation />
  </div>
</PageLayout>
