---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
const providerToken = cookies.get("sb-provider-token");
const providerRefreshToken = cookies.get("sb-provider-refresh-token");

if (accessToken && refreshToken && providerToken && providerRefreshToken) {
  return redirect("/returnLocalApp");
}
---

<Layout title="Sign in Local App">
  <div class="h-[680px] bg-base-200"></div>
  <div
    class="absolute top-16 w-full h-[calc(100dvh-16*var(--spacing))] bg-base-200"
  >
    <div class="h-full flex justify-center">
      <div
        class="min-w-sm max-w-md bg-base-100 min-h-[calc(680px-16*var(--spacing))]"
      >
        <div class="p-10">
          <h1 class="text-3xl font-bold text-center">Sign In</h1>
          <div class="h-4"></div>
          <div class="h-4"></div>

          <p class="text-center">Sign In to your account</p>
          <div class="h-4"></div>

          <form action="/api/local_auth/signin" method="post" class="max-w-md">
            <ul class="mt-6 flex flex-col gap-2 text-xs">
              <li>
                <button
                  class="btn bg-white text-black border-[#e5e5e5] w-full"
                  value="google"
                  name="provider"
                  type="submit"
                >
                  <svg
                    aria-label="Google logo"
                    width="16"
                    height="16"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    ><g
                      ><path d="m0 0H512V512H0" fill="#fff"></path><path
                        fill="#34a853"
                        d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"
                      ></path><path
                        fill="#4285f4"
                        d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"
                      ></path><path
                        fill="#fbbc02"
                        d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"
                      ></path><path
                        fill="#ea4335"
                        d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"
                      ></path></g
                    ></svg
                  >
                  Sign In with Google
                </button>
              </li>
            </ul>
          </form>

          <div class="divider">OR</div>

          <div class="bg-white text-black w-full flex justify-center">
            <div class="py-2 w-min text-nowrap">Close to Skip Sign In</div>
          </div>

          <div class="h-4"></div>
          <div class="h-4"></div>

          <div
            class="rounded bg-base-200 border-[1.5px] border-base-300 w-full py-2 px-4 text-md"
          >
            Infomation for login with Google
            <div class="h-2"></div>
            <div
              class="rounded bg-base-100 border-[1.5px] border-base-300 w-full py-2 px-4 text-sm"
            >
              you can collect and save battle data on cloud strage(Google Drive)
              with Sign In google account.<br />
              you can also play without login google account, but you can't save
              data on cloud.
            </div>
          </div>

          <div class="h-16"></div>
          <div class="h-full"></div>
        </div>
      </div>
    </div>

    <Navigation />
  </div>
</Layout>
