
/* Firefox */
/* @-moz-document url-prefix() {
    .justify-self-center {
        justify-self: center;
    }
} */

/* Others */
.justify-self-center {
    justify-self: center;
}
	
/* Edge(EdgeHTML) */
/* @supports (-ms-ime-align: auto) {
    .justify-self-center {
        justify-self: center;
    }
} */

/* chrome safari opera */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .justify-self-center {
        justify-self: center;
        margin: auto;
    }
}