[package]
name = "kc-api-database"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
apache-avro = { workspace = true }
arrow = { workspace = true }
datafusion = { workspace = true }
parquet = { workspace = true }
register_trait = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
uuid = { workspace = true }
tracing = { workspace = true }
kc-api-interface = { workspace = true }
# kc-api-interface-adapter = { workspace = true }

[dev-dependencies]
dotenvy = { workspace = true }
regex = { workspace = true }
dot-writer = { workspace = true }

[features]
default = ["graphviz", "schema_v1"]
graphviz = []
cytoscape = []
schema_v1 = []
schema_v2 = []
breaking_schema = []