[package]
name = "kc-api-database"
version.workspace = true
edition.workspace = true

[dependencies]
apache-avro = { workspace = true }
register_trait = { workspace = true }
serde = { workspace = true }
uuid = { workspace = true }
tracing = { workspace = true }
kc-api-interface = { workspace = true }
kc-api-interface-adapter = { workspace = true }
