on: [push, workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    defaults:
      run:
        working-directory: ./packages/FUSOU-WEB
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ 'wasm32-unknown-unknown' }}

      - name: install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
    
      - name: Run sccache-cache
        if: env.SCCACHE_GHA_ENABLED == 'true'
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Build project
        run: |
          pnpm install
          pnpm build
        
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          
          workingDirectory: 'packages/FUSOU-WEB'
          command: pages deploy ./dist --project-name=fusou
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}